.navigation {
  flex-direction: column;
  height: 100%;
  display: flex;
  border-right: 1px solid #eaeaea;
  @media (max-width: 1024px) {
    display: none;
  }

  &-logo {
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-nav {
    &_main {
      flex-grow: 1;
      padding: 20px 0 0;
      position: relative;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #d4d4d4;
      width: 68px;
      height: 64px;
      line-height: 64px;
      font-size: 24px;
      transition: color 0.4s ease, background 0.4s ease;
      &.active {
        color: #222;
        background: #f6f6f6;
      }
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #fff;
  z-index: 4;
}

// mobile nav

.mobile-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
  z-index: 3;
  border-top: 1px solid #f0f0f0;
  background: #fff;
  @media (max-width: 1024px) {
    display: flex;
  }
  &__item {
    flex: 1 1;
  }
}

.navigation-nav__item-mob {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: column;
  padding: 7px 0 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  span {
    font-size: 11px;
    line-height: 16px;
  }
}
