.header-components-search {
  &__inner {
    position: relative;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0 8px;
    transition: all 0.4s ease;
    width: 40px;
    color: #a8a8a8;
    background: #fff;
    height: 40px;
    display: flex;
    align-items: center;
  }
  &__input {
    border: none;
    font-size: 16px;
    outline: none;
    width: 0;
    height: 40px;
    caret-color: #222;
    border-radius: 8px;
    padding: 0;
    transition: padding .4s ease;
    box-shadow: none;
    -webkit-appearance: none;
  }
  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    cursor: pointer;
    padding: 8px;
    width: 40px;
  }

  &__delete {
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 10px;
    width: 30px;
    cursor: pointer;
    color: #a8a8a8;
    opacity: 0;
    padding: 5px;
    transition: opacity .4s ease,color .4s ease;
    &_active {
      opacity: 1;
    }
  }
  &_active {
      .header-components-search__inner {
        width: 334px;
        padding: 0;
        transition: width .4s ease;
      }
      .header-components-search__input {
        padding: 0 40px 0 42px;
        border: 1px solid #eaeaea;
        width: 100%;
        overflow: hidden;
      }
  }
}

